<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2020.
  ~ Designed and developed by Aleksandr Dremov
  ~ Use according to the license guidelines.
  ~ Contact me: dremov.me@gmail.com
  -->

<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>